*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Azeret Mono;
}

header{
    width: 80%;
    margin: auto;
    padding: 2em;
}

/* Btn primary */

.primary-btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 0.8em 1em;
    background-color: white;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: darkgrey;
}

/* NAV BAR DESIGN */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.primary-btn > a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}

.name-small{
    display: none;
}





/* Media Query */

@media screen and (max-width:576px) {
    .name{
        display: none;
    }

    nav{
        border-bottom: 1px solid darkgray;
        width: 90%;
        margin:auto
    }
    .name-small{
        display: block;
    }
    
    .primary-btn{
        padding: 0.5em 0.6em;
    }

    header{
        width: 100%;
        margin: auto;
    }
}